
h1 {
  font-family: 'Satisfy', cursive;
  padding-bottom: 0px;
  padding-top: 10px;
  margin-top: 0px;
  margin: 0px;
  font-size: 8em;
  color: black;
  text-align: center;
}

body {
  background-image: url("../images/cup.jpg");
  background-size: cover;
}
#tagline {
  text-align: center;
  font-family: sans-serif;
  font-style: italic;
  line-height: 100%;
}

div.headspace {
  background-color: rgb(55,255,255);
  padding-top: 0px;
}

.menu {
  display: flex;
  list-style: none;
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: white;
  justify-content: space-evenly;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  font-weight: bold;
}

p{
  font-family: 'Thasadith', sans-serif;
}

h2{
  font-family: 'Thasadith', sans-serif;
  font-weight: bold;
}
