/* Types */
h1 {
  font-family: 'Satisfy', cursive;
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0px;
  margin: 0px;
  font-size: 12vmin;
  color: black;
  text-align: center;
  }

h2{
    display: inline-flex;
    font-family: 'Satisfy', sans-serif;
    font-weight: bold;
    font-size: 3em;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
  }

.card-text {
    line-height: normal;
  }

a {
  color: brown;
}

p.padded{
  margin-left: 50px;
  margin-right: 50px;
  display: block;
  line-height: 30px;
  font-family: 'Thasadith', sans-serif;
  }

p {
  font-family: 'Thasadith', sans-serif;
  line-height: 30px;
  font-size: 2.3vh;
}

.tagline {
  text-align: center;
  font-family: 'Thasadith', sans-serif;
  font-size: 3vh;
  }

/* Menu */
.menu {
  display: flex;
  max-width: 100%;
  height: auto;
  list-style: none;
  text-align: center;
  background: rgba(0,0,0,0.7);
  color: white;
  justify-content: space-evenly;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4vmin;
  font-weight: bold;
  padding-bottom: 0px;
}

/* Page Format */
div.container {
  background: rgba(255,255,255,0.6);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}

div.centered {
  text-align: center;
}

/* Hotspots Logo */
div.headspace {
  display: flex;
  text-align:center;
  max-width: 600px;
  padding-top: 0px;
  background-color: transparent;
  margin-top: 10px;
  margin-bottom: 10px;
}

.img-responsive {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}

/* Carousel */
.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 30px;
    width: 30px;
    outline: black;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
    border: rgba(0,0,0,0.4);
}

#discoverbutton {
  margin-bottom: 20px;
}

/* Contact Form */
.form {
  padding:20px;
}

/*Social Media*/
.fa {
  margin-left: 20px;
  padding: 20px;
  font-size: 30px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  opacity: 0.7;
}
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #517fa4;
    color: white;
  }
  .fa-pinterest {
    background: #bd081c;
    color: white;
  }
  .fa-flickr{
    background: #ff0084;
    color: white;
  }


  /* Cafe page layout */
  div.containergrid {
  display: inline-flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  }

  .col-sm-4 {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 1000px) {
    .col-sm-4 {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 770px) {
    .col-sm-4 {
      flex: 100%;
      max-width: 100%;
    }
  }

/* Images */
img.floatright{
  float: right;
  padding: 10px;
}
img.floatleft{
  float: left;
  padding: 10px;
}
  /* background*/
body{
  background-image: url("../images/cup.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  }

div.blog-background {
  background-image: url("../images/sunglass.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
div.cafe-background {
  background-image: url("../images/Cafe.jpg");
  background-size: cover;
  background-attachment: fixed;
}
/* Gallery*/
.row {
 display: flex;
 flex-wrap: wrap;
 padding: 0 4px;
}

  /* Four equal columns */
.column {
  flex: 25%;
  max-width: 25%;
  padding: 10px;
}

.column img {
  display: flex;
  margin-top: 8px;
  vertical-align: middle;
  max-width: 100%;
  max-height: auto;
  padding: 5px;
}

  /* Gallery responsive layout: two columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
  /* Responsive layout: two columns stack */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/*Zoom hover*/
.zoom {
  transition: transform .4s; /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
